/* BACKROUND */
body.index{
  background: url('home.png') no-repeat center top;
  background-size: 100% 100%;
  height:100vh;
}

body.profil{
  background: url('profil.png') no-repeat center top;
  background-size: 100% 100%;
  height:100vh;
}

body.aplikasi{
  background: url('aplikasi.png') no-repeat center top;
  background-size: 100% 100%;
  height:100vh;
}

body.hasil{
  background: url('hasil.png') no-repeat center top;
  background-size: 100% 100%;
  height:100vh;
}

/* MENU */
.menu-bar{
  width:100%;
  display:flex;
  align-items:center;

  gap:15px;

  padding-right:70px;

  position:relative;
  z-index:1000;
}

.menu-logo{
  margin-right:auto;
  padding-left:70px;

  position:relative;
  top:-55px;
}

.menu-logo img{
  height:200px;
}

.menu-btn{
  text-decoration:none;

  width:110px;
  text-align:center;

  padding:3px 0;

  border-radius:15px;
  border:2px solid black;

  background:white;
  color:black;

  font-weight:bold;
  font-size:16px;

  transition:0.3s;

  position:relative;
  top:-55px;

  z-index:2000;
}

.menu-btn:hover{
  background:#f2f2f2;
}

.menu-btn.active{
  background:#e5bf9f;
  color:#6b4837;
}

/* HOME */
.center-content{
  text-align:center;

  position:relative;
  top:-120px;
}

.welcome-img{
  width:500px;
  height:auto;

  position:relative;
  top:-70px;
}

.desc{
  width:70%;
  margin:auto;

  font-size:30px;
  line-height:1.6;

  position:relative;
  top:-290px;

  text-align:center;
}

.btn-custom{
  display:inline-block;

  margin-top:10px;

  background:#ddb18d;
  color:#5a2f1b;

  border:2px solid black;
  border-radius:20px;

  padding:10px 40px;

  font-size:28px;
  font-weight:bold;

  text-decoration:none;

  position:relative;
  top:-250px;
}

.btn-custom:hover{
  background:#d3a47d;
}


/* PROFIL */
.judul-profil{
   text-align:center;

   margin-top:-190px;
   
}

.judul-img{
   width:280px;
   height:auto;
}

.profil-content{
  width:80%;
  margin:auto;

  display:flex;
  align-items:center;

}

/* foto */
.foto-box{
  width:30%;

  display:flex;
  justify-content:center;
}

.profile-img{
  width:370px;
  height:auto;

  border-radius:20px;
}

/* data */
.profil-box{
  width:65%;
}

/* baris */
.profil-item{
  display:flex;
  align-items:center;

  gap:3px;

  margin-bottom:20px;
}

/* label */
.profil-label{
  width:200px;

  font-size:28px;
  font-weight:bold;
}

/* value */
.profil-value{
  width:400px;

  background:#e5bf9f;

  border:3px solid black;
  border-radius:18px;

  padding:8px 15px;

  font-size:28px;
}


/* INPUT NILAI */
.input-content {
  width: 80%;
  margin: auto;

  display: flex;
  flex-direction: column;
  align-items: center;     /* center horizontal */
}

.profil-input{
  display: flex;              /* aktifkan flexbox */
  align-items: center;        /* teks rata tengah vertikal */
  justify-content: center;
  gap: 7px; 
  margin-bottom: -5px;
  width:360px;
  height:40px;
  background:#ebe1d8;
  border:3px solid black;
  border-radius:13px;
  padding:8px 15px;
  font-size:20px;
}

/* judul penilaian */
.judul-input{
   text-align:center;
  
   margin-top:-190px;
}

.judul-input-img{
   width:300px;
   height:auto;
}

/* CONTENT */
.input-content{
   width:80%;
   margin:auto;

   margin-top:-120px;
}

/* BUTTON AREA */
.btn-area {
  display: flex;
  justify-content: flex-end; 
  gap: 30px;                 /* jarak antar tombol */
  margin-top: -5px;          /* jarak atas dari form */
  width: 100%;               /* biar menempel ke kanan container */
}

/* BUTTON KHUSUS INPUT */
.btn-area .btn-custom {
  position: static;
  width: 165px;      /* lebar tombol */
  height: 45px;      /* tinggi tombol */
  font-size: 22px;   /* ukuran teks */
  padding:5px 15px;
}


/* HASIL */
.input-label{
  width:300px;

  font-size:20px;
  font-weight:bold;
}

.judul-hasil {
  display: flex;
  justify-content: center;
  margin-top: -188px;     
}

.hasil-item {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 20px auto;    /* jarak antar baris hasil */
  width: 500px;
}

.judul-img {
  width: 300px;
  height: auto;
}

.hasil-label {
  text-align: left;
  width: 200px;
  font-size: 22px;
  font-weight: bold;
  position: relative;
  top: -70px; 
}

.hasil-value {
  flex: 1;
  background: #f1e6dc;
  border: 3px solid black;
  border-radius: 15px;
  padding: 8px 15px;
  font-size: 22px;
  font-weight: bold;
  text-align: left; 
  margin: 0 auto;    
  position: relative;
  top: -70px; 
}

.btn-hasil {
  background: #e5bf9f;
  border: 3px solid black;
  border-radius: 15px;
  padding: 10px 25px;
  font-size: 22px;
  font-weight: bold;
  text-align: flex-end;
  cursor: pointer;

  display: block;        /* biar bisa pakai margin auto */
  margin: 0 auto;    
  position: relative;
  top: -230px;           /* geser tombol ke atas */    /* tombol tepat di tengah */
}

.btn-hasil:hover {
  background: #d4a67f;        /* warna sedikit lebih gelap saat hover */
}

.ucapan {
  text-align: center;   /* teks di tengah */
  margin-top: 20px;     /* jarak dari tombol/hasil */
  font-size: 35px;
  font-weight: bold;

  position: relative;
  top: -620px; 
}
